footer {
    position: auto;
    height: 100px;
    bottom: 0;
    width: 100%;
}

h5{
    font-weight:bold;
    color:black;
}

h1{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 25px;

}


.card{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
}

.carousel-inner {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    width: 70%;
    height: 50%;
     display:block;
     margin:auto;


}

.carousel-inner img {
    display:block;
     margin:auto;
     margin-top: 10%;

}

*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 'Arial Narrow', Arial, sans-serif;

}


